.Main
{
    width: 850px;
    height: 650px;
    margin: auto;
    padding: 30px;
    background-color: #748bb2;
}
h1
{
    font-size: 42px;
    font-style: italic;

    text-align: center;;
}
#Mpart
{
    font-size: 30px;
    width: 650px;
    height: 100px;
    margin-top: 25px;
    padding: 15px;
}

.myButton
{
    width: 80px;
    height: 30px;
    margin-left: 44%;
   margin-top: 20px;
    border-radius: 10px;
}

.myText
{
    width: 190px;
    height: 30px;
    border-radius: 5px;
}
li
{
    font-family: arial;
    font-size: 22px;
    width: 100px;
    height: 15px;
    margin: auto;
    padding: 10px;
    border: 10px solid black;
    border-radius: 10%;
    background-color: #d3d3d3;
}
ul
{
    list-style: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#MyChoice{
  background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}
#MyChoice-content  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
